<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Blogs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>

<div class="container-fluid">

    <form action="#" th:action="@{/addNewBlogEntry}" th:object="${newBlogEntry}" method="post">

        <div class="row">
            <div class="col-md-2"></div>

            <div class="form-group col-md-8">
                <label for="title">Title</label>
                <input th:field="*{title}" type="text" class="form-control" id="title">
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="form-group col-md-8">
                <label for="content">Content</label>
                <textarea th:field="*{content}" class="form-control" rows="5" id="content"></textarea>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <button type="submit" class="btn btn-success btn-lg col-md-8">Create</button>
            <div class="col-md-2"></div>
        </div>

    </form>

</div>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>